.cardcontainer {
    height: 22.5rem;
    width: 22.5rem;
    flex-direction: column;
    display: flex;
    padding-bottom: 0.25%;
    padding-top: .5rem;
}
.explainstack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.h1hugename {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
}
.subtext {
    display: -webkit-box;
    font-size: 1em;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}