@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* heropatterns.com */
	background-color: #4d4e50 !important;
	/* background-image: url('./bg.svg') !important; */
	position: absolute;
	width: 100%;
	height: 100%;
}

dialog:not([open]) {
	display: none;
}
dialog:is([open]) {
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
    background-color: transparent;
}
dialog:is([open])::backdrop {
	background: rgb(0, 0, 0, 0.7);
}

.text-trick {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dpshover:hover {
	filter: drop-shadow(0px 0px 5px rgb(117, 89, 18));
}
.dpshover:hover > svg {
	fill: rgb(255, 213, 106);
}

#__next {
	display: flex;
	flex-direction: column;
	gap: 3px;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
	margin-bottom: 0.5rem;
}

.game-block {
	box-shadow: inset 0px 0px 0px 3px var(--mtg-black), inset 0px -3px 0px 4px var(--mtg-black);
	padding: 0.35rem 0.4rem 0.55rem 0.35rem;
	background-image: linear-gradient(70deg, #d6a53b5d, #d4aa576c, #c59c4263, #d4bc8c62), linear-gradient(45deg, #c99a3560, #d4bc8c6c, #c0973e75, #d4bc8c75, #d4bc8c60), linear-gradient(120deg, #c99e4360, #d4bc8c6c, #be9c5260, #d4bc8c75, #d4bc8c60), radial-gradient(ellipse at 0 0, #c99e433b, #d4bc8c3d, #be9c5244, #d4bc8c38, #d4bc8c46), linear-gradient(to bottom, #dab36b, #c2a64d, #977d4f);
}

.game-block > ul > li {
	border-radius: 20px / 50px;
	border-color: #634f29;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: inset 2px -2px rgba(65, 65, 65, 0.425), inset -2px 2px #ffffff8f;
}

.mana-shadow svg {
	filter: drop-shadow(1px 1px 1px black);
}

:root {
	--mtg-black: #17140f;
}

@media (min-width: 763px) {
	.semiborder {
		border-right: solid 1px grey;
	}
}

.blockbg {
	background-color: #efeded;
	border: 1px solid #cfc9c9;
	border-radius: 12px;
	box-shadow: inset 0px 0px 5px 5px #dbd6d6, 0px 0px 5px 0.5px #dbd6d699;
	padding: 12px;
}

.banner {
	/* background-image: linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.5),rgba(0,0,0,0.2),rgba(0,0,0,0)); doesnt do anything */
	mask-image: linear-gradient(to bottom, #ffffff 85%, #ffffff 15%, #ffffff00);
	box-shadow: inset 0px 40px 20px -20px rgba(0, 0, 0, 0.74);
	background-image: url(https://www.alayna.net/images/gallery/fullsize/mtg/lands-full.jpg);
}

.undercut {
	box-shadow: inset 0px -15px 15px 7px rgba(255, 255, 255, 0.2), -10px 0px 13px -4px #000000, 10px 0px 13px -4px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	background: linear-gradient(rgba(0, 0, 0, 0.5) -40%, rgba(0, 0, 0, 1) 70%);
}

@keyframes slide {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 576px) {
	.banner {
		background-size: 350% 100%;
		background-position-x: 50%;
	}
}

@media (min-width: 576px) {
	.banner {
		background-position: center;
		background-size: 200% 100%;
	}
}

@media (min-width: 1201px) {
	.banner {
		background-size: 100% 100%;
	}
}

.crownshadow {
	filter: drop-shadow(0px 0px 4px black);
}
