.nametext {
    font-size: 55px;
    line-height: 100%;
    font-family: courier;
    color: #9a7432;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.statgrid{
    display:grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px;
    gap:13px;
    max-width: fit-content;
}
.statgrid + *{
    margin-top: 8px;
}
@media (max-width: 572px){
    .nametext{
        font-size: 32px;
    }
    .statgrid{
        grid-template-columns: 140px 140px;
    }
}
.gaptool{
    flex-grow: 0;
    gap: 8px;
}
.maxwidthutil{
    max-width: max-content!important;
}